<div class="header-container w-100 bcolor-dark-grey">
  <div class="company-container w-50 display-inline-block">
    <img class="position-absolute" src="assets/blueticket_logo.png" />
  </div>
  <div class="tools-container w-45 display-inline-block">
    <i class="fas fa-search float-right mr-20"></i>
  </div>
  <div class="profile-container w-5 display-inline-block">
    <div class="float-right">
      <img class="m-10" src="../../assets/user.png" />
      <i class="fas fa-angle-down mr-15 float-right"></i>
    </div>
  </div>
</div>
