.panel-container {
  padding: 25px;

  fieldset {
    border: 2px solid #55555f;
    padding: 10px 25px 15px 25px;

    legend {
      color: #55555f;
    }
  }

  .currency {
    width: 100%;
    height: 60px;
    color: white;
    line-height: 17px;
    background-color: #474854;
    border-radius: 0px 3px 3px 0px;

    .label {
      color: #313241;
    }
  }

  .border-green {
    box-shadow: -5px 0px 0px 0px #29a216;
  }

  .border-red {
    box-shadow: -5px 0px 0px 0px #ca2424;
  }

  .color-green {
    color: #29a216;
  }

  .color-red {
    color: #ca2424;
  }
}